
<div class="social-icons">
  {% if site.owner.email %}<a href="mailto:{{ site.owner.email }}" title="Send me an e-mail"><i class="fa-solid fa-envelope fa-2x"></i></a>{% endif %}
  {% if site.owner.linkedin %}<a href="https://linkedin.com/in/{{ site.owner.linkedin }}" title="Let's connect on LinkedIn!" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>{% endif %}
  {% if site.owner.github %}<a href="https://github.com/{{ site.owner.github }}" title="Follow me on GitHub!" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>{% endif %}
  {% if site.owner.stackexchange %}<a href="{{ site.owner.stackexchange }}" title="Check my Stack profile!" target="_blank"><i class="fa-brands fa-stack-overflow fa-2x"></i></a>{% endif %}
  {% if site.owner.twitter %}<a href="https://x.com/{{ site.owner.twitter }}" title="Follow me on X!" target="_blank"><i class="fa-brands fa-x-twitter fa-2x"></i></a>{% endif %}
  {% if site.owner.instagram %}<a href="https://instagram.com/{{ site.owner.instagram }}" title="Follow me on Instagram!" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>{% endif %}
  {% if site.owner.chess %}<a href="https://www.chess.com/member/{{ site.owner.chess }}" title="Let's play chess!" target="_blank"><i class="fa-solid fa-chess fa-2x"></i></a>{% endif %}
</div><!-- /.social-icons -->